<%- include(HEADER) %>


<div class="goods__wrap">
    <ul class="goods__list">
    <% goods.forEach(function(good, i){ %>
        <li class=".col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <%- include('./proc/good', {good}) %>
        </li>
    <% }) %>
    </ul>
</div>

<%- include(FOOTER) %>