<%- include(HEADER) %>

<div class="login__wrap">
    <%if(locals.flashMessage) {%>
        <div class="alert alert-danger" role="alert"><%=flashMessage%></div>
    <%}%>
    <form action="" method="post">
        <div class="form-group col-6">
            <input class="form-control" placeholder="ID" name="username" type="text" autofocus required>
        </div>
        <div class="form-group col-6">
            <input class="form-control" placeholder="Password" name="password" type="password" value="" required="">
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="btn btn-lg btn-dark btn-block col-6" value="로그인">
        <a href="/account/join" class="btn btn-lg btn-success btn-success col-6" >회원가입</a>


    </form>
</div>

<%- include(FOOTER) %>
