*{box-sizing: border-box}
*{padding:0;margin:0;}
html{overflow-x: hidden;}
/*html.popon,body.popon{overflow:hidden; height: 100%; width: 100%; position: fixed; top:0; bottom:0;}*/
html.popon,body.popon{overflow:hidden;position:relative; height: 100%}
html.popon_noh,body.popon_noh{overflow:hidden;position:relative;}
body{position:relative;overflow-x:hidden;min-width:320px;color:#262626;font:normal 12px/1.2 YG76, Dotum, sans-serif;-webkit-text-size-adjust:100%;}
h1,h2,h3,h4,h5,th{font-family:YG76;font-weight:normal;font-size:14px;}
img{vertical-align:top;border:0;max-width:100%;}
button{border:0;padding:0;margin:0;background:none;cursor:pointer;text-align:center;outline:0;font-family:YG76;}
table{table-layout:fixed;border-collapse:collapse;}
td{word-wrap:break-word;}
a{text-decoration:none;color:#262626;cursor:pointer;}
a:hover{color:#546d5b;}
em{font-style:normal;font-family:Tahoma;font-weight:bold;}
strong{font-family:Tahoma;}
li{list-style: none;}
input{vertical-align:middle;font-family:YG76;border:0;outline:0;border-radius:0;-webkit-appearance:none;-webkit-text-size-adjust:100%;}
textarea{-webkit-appearance:none;-webkit-text-size-adjust:100%;font-size:14px;}
/* select{-webkit-text-size-adjust:100%;font-size:14px;-webkit-appearance:none;} */
hr, legend{position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;text-indent:100%;}
caption{width:0;height:0;padding:0px;margin:0px;visibility:hidden;}
label{cursor:pointer;vertical-align:middle;}
fieldset{border:0;}
p{margin:0}

@media all and (min-width: 960px) {
    html{ font-size: 14px; }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    html{ font-size: 13px; }
}
@media all and (max-width: 599px)  {
    html{ font-size: 8px; }
}


/* header */
.navbar{position: fixed; top:0; z-index: 11;width: 100vw;border-bottom: 1px solid; box-shadow: 3px 5px 7px #d9d9d9}
.navbar .logo{     background: url(/assets/logo.svg) no-repeat; width: 30px; height: 30px; margin-right: 10px;} .nav-item.active .nav-link{border-bottom: 1px solid black}
.container{margin-top: 70px}


/* goods_list */
.goods__list{display:flex; flex-wrap: wrap;font-size: 1rem }
.goods__item{margin: 15px 0; background:#d9d9d9;}
.goods__item.is-empty{margin:0;}

.goods__item .btn--addCart{float:right; }
.goods__item .item__name {font-size: 1.5rem; font-weight: bold; text-align: center; height: 1.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.goods__item .item__desc {margin-bottom: 5px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.goods__item .item__contentSection{margin-bottom:10px}
.goods__item .item__options__wrap{margin-bottom: 5px}

/* login */
.login__wrap{font-size:2rem}
.login__wrap form {display: flex; flex-flow: column; align-items: center}

/* 장바구니 아이탬*/
.cart__item{position: relative;}
.cart__item__wrap.sold_out::before{ content: ''; position: absolute; height: 100%; background: #d9d9d9; display: block; width: 100%;  z-index: 2;
opacity: 0.5;}
.cart__item__wrap.sold_out::after{ content: 'sold out'; position: absolute; height: 100%; display: flex; width: 100%;  z-index: 3; font-size:5rem; font-weight: bold; justify-content: center; align-items: center }
.cart__item__deleteBtn{position: absolute;z-index: 4;}

.cart__item__content{display: flex;}
.cart__section{overflow: hidden;}
.cart__section:nth-child(1){flex:1; border:1px solid #d9d9d9;}
.cart__section:nth-child(2){flex:2; display: flex; flex-flow: column; align-items: flex-end;  position: relative;font-size:1rem; margin-left: 5px}
.cart__item__name{ font-size: 2rem; overflow: hidden; white-space: nowrap; text-align: left; text-overflow: ellipsis; max-width: 100%; }
.cart__item__options{ font-size: 1.5rem; }

.cart__item__prices{margin-top:5px; text-align: right}
.cart__item__price--each{margin-bottom: 5px;font-size: 1.2rem}
.cart__item__price--total{font-weight: bold; font-size:1.4rem}
.count__wrap {display: flex; position: absolute; bottom:0}
.count{width: 50px; text-align: center; border-radius: 0; border:1px solid black;padding: 0}
.count__btn{margin-bottom: 0; display: flex; line-height: 1; align-items: center;}
.count__btn--minus {border-radius: .25rem 0 0 .25rem; }
.count__btn--plus {border-radius:  0 .25rem .25rem 0}

@media (max-width: 400px)  {
    .cart__item__content{flex-flow: column }
    .count__wrap{position: static;}
    .cart__section:nth-child(1){flex:2}
    .cart__section:nth-child(2){flex:1; margin-top:10px}
}
@media (min-width: 400px) and (max-width: 768px)  {
    .cart__section:nth-child(2){flex:2}
}
@media (min-width: 768px)   {
    .cart__section:nth-child(2){flex:2}
}


/* 장바구니 */
.cart__wrap{max-width: 700px; margin: auto; padding-bottom: 100px}
.cart__info{border: 1px solid #d9d9d9; border-radius: 10px}
.cart__order{display:flex; justify-content: center; margin-top: 30px}
.cart__info{    padding: 1.25rem; display: flex; flex-flow: column; align-items: flex-end;}
.info__price{display: flex; flex-flow: column; align-items: flex-end;padding: 20px 0; border-bottom: 1px solid black; width: 100%;}
.price__title{ font-size: 1.5rem;  }
.price__content{font-size: 1.2rem; margin-top: 10px}

.info__price--grandTotal .price__title{ font-size: 1.6rem;  }
.info__price--grandTotal .price__content{ font-size: 2rem;  }

.info__price__bundle{flex-flow: row}

.bundleTotal__price{margin-left: 10px}